.no-page{
    background-color: #000;
}
.no-page__container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}
.no-page .background-clip{
    height: 100%;
    position: absolute;
    text-align: center;
    z-index: 0;
}
.no-page .no-page__content{
    padding: 0 25%;
    z-index: 1;
    text-align: center;
    color: var(--color-on_surface);
}
.no-page .no-page__content h1, p{
    color: #ffffff;
}
.no-page .no-page__content p{
    padding-top: 16px;
}
.no-page .no-page__content a{
    display: inline-block;
    margin-top: 64px;
}
.no-page{
    padding: 0;
    margin: 0;
}

.button-cta{
    display: inline-block;
    padding: 8px 24px;
    color: #000;
    background-color: #FFFFFF;
    cursor: pointer;
}
.button-cta:hover{
    background-color: #f6f6f6;
}

