@import url('/css/assets/reset.css');
@import url('/css/assets/theme.css');
@import url('/css/assets/fonts.css');
@import url('/css/assets/typography.css');
@import url('/css/assets/buttons.css');
@import url('/css/responsive.css');
@import url('/css/project-1.css');
@import url('/css/404.css');
@import url('/css/stillsec_page.css');
@import url('/css/gymboost.css');

html,
body { 
    scroll-behavior: smooth;
    background-color: var(--color-surface);
}

html::-webkit-scrollbar {
    width: 6px;
}
  
html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}
a:hover{
    color: var(--color-primary);
}