@import url('/css/assets/reset.css');
@import url('/css/assets/theme.css');
@import url('/css/assets/fonts.css');
@import url('/css/assets/typography.css');
@import url('/css/assets/buttons.css');
@import url('/css/responsive.css');
@import url('/css/404.css');
@import url('/css/stillsec_page.css');
@import url('/css/gymboost.css');

html,
body{ 
    scroll-behavior: smooth;
    background-color: var(--color-surface);
}

html::-webkit-scrollbar{
    width: 6px;
}
  
html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--color-primary);
}

section{
    padding: 96px 24%;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-divider-primary);
    background-color: var(--color-surface-0);
    z-index: 999;
    padding: 8px 4%;
}
.header .header__logo p{
    color: var(--color-text-primary);
}
.navbar .menu-list{
    display: flex;
}
.navbar .menu-list p{
    color: var(--color-text-primary);
}
#toggle__menu{
    display: none;
    stroke-width: 1.5;
    stroke: var(--color-text-primary);
}
#theme-toggle{
    background: none;
    border: var(--border-primary);
}
#theme-toggle:hover{
    background-color: var(--color-surface-hover-primary);
}
#icon-sun, #icon-moon {   
    fill: none;
    stroke: var(--color-text-primary);
    stroke-width: 1.5;
    transition: opacity 0.5s ease;
    stroke-dasharray: 1000; /* Ustaw odpowiednią wartość, większą niż długość ścieżki */
    stroke-dashoffset: 1000;
    animation: draw 7s linear forwards;
}
@keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
}
.mark-heading-primary{
    color: var(--color-basic-surface-0);
    background-color: var(--color-primary);
    padding: 6px 12px;    
}
.mark-heading-secondary{
    color: var(--color-basic-surface-0);
    background-color: var(--color-primary);
    padding: 4px 8px;    
}
.header .header__button{
    display: flex;
    gap: 16px;
    align-items: center;
}
.header .button-lang p{
    color: var(--color-text-primary);
}
.header #icon-button{
    fill: var(--color-text-primary);
}
.about{
    background-color: var(--color-surface-0);
}
.about .container__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 64px;
}
.about .content__heading{
    grid-column: 1/2;
    grid-row: 1/2;
}
.about .content__paragraph{
    grid-column: 1/2;
    grid-row: 2/3;
}
.about .container__content h1{
    color: var(--color-text-primary);
}
.about .container__content h3{
    margin-top: 16px;
    color: var(--color-text-primary);
}
.about .container__content p{
    margin-top: 32px;
    color: var(--color-text-primary);
}
.about .container__img{
    grid-column: 2/3;
    grid-row: 1/3;
    width: 75%;
    justify-self: end;
    align-self: center;
}

.skills{
    background-color: var(--color-surface-0);
}
.skills .container__heading h2{
    color: var(--color-text-primary);
}
.skills .container__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 32px;
    margin-top: 32px;
}
.skills .skill-card{
    padding: 16px;
    border: var(--border-primary-variant);
}
.skills .skill-card h3{
    color: var(--color-text-primary);
}
.skills .skill-card p{
    margin-top: 8px;
    color: var(--color-text-primary-variant);
}

.projects{
    background-color: var(--color-surface-0);
}
.projects .container__heading h2{
    color: var(--color-text-primary);
}
.projects .container__cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 64px;
    margin-top: 32px;
}
.projects .container__cards a:hover{
    background-color: var(--color-surface-10);
}
.projects .card-project{
    display: flex;
    flex-direction: column;
    
    padding: 16px; 
}

.projects .card-project h3{
    
    color: var(--color-text-primary);
    margin-top: 16px;
}
.projects .card-project .badges{
    display: flex;
    flex-wrap: wrap;  
    gap: 4px;
    margin-top: 8px;
}
.projects .card-project .badge{
    background-color: royalblue;
    padding: 4px 8px;
}
.projects .card-project .badge p{
    color: var(--color-basic-text-primary);
}
.projects .card-project .button-text-primary{
    display: flex;
    margin-top: 16px;
}
.projects .card-project .button-text-primary p{
    color: var(--color-text-primary);
}
.projects .card-project .button-text-primary svg{
    margin-left: 8px;
    stroke: var(--color-text-primary);
    stroke-width: 1.5;
}

.footer{
    padding: 32px 24%;
    background-color: var(--color-surface-0);
    border-top: var(--border-divider-primary);
}
.footer .footer__container p{
    color: var(--color-text-primary);
    margin-top: 8px;
}

/* Mobile devices */
@media only screen and (orientation: portrait) and (max-width: 480px) {
    section{
        padding: 32px 4%; 
    }
    .footer{
        padding: 16px 4%;
    }

    .navbar .menu-list{
        flex-direction: column;
        position: absolute;
        top:100%; left:0; right:0;
        padding: 16px;
        background: var(--color-surface-0);
        border-top: var(--border-primary);
        border-bottom: var(--border-primary);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition:.1s linear;  
    }
    .navbar .menu-list.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    #theme-toggle:hover{
        background-color: none;
    }
    #toggle__menu{
        display: inline-flex;
        stroke-width: 1.5;
        stroke: var(--color-text-primary);
    }
    .button-toggle-menu:hover{
        background-color: none;
    }
    .mark-heading-primary{
        padding: 4px 8px;    
    }
    .mark-heading-secondary{
        padding: 4px 4px;    
    }
    .about .container__content{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 0;
        row-gap: 0;
    }
    .about .content_heading{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .about .content__paragraph{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .about .container__img{
        grid-column: 2/3;
        grid-row: 1/2;
        width: 75%;
        justify-self: end;
        align-self: start;
    }
    .about .container__content h1{
        font-size: 18px;
    }
    .about .container__content h3{
        font-size: 12px;
        margin-top: 12px;
    }
    .about .container__content p{
        margin-top: 0;
    }
    .skills .container__content{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        row-gap: 16px;
        margin-top: 16px;
    }

    .projects .container__cards{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        row-gap: 32px;
        margin-top: 16px;
    }
    .projects .card-project .button-text-primary svg{
        margin-left: 4px;
    }
}
  
@media only screen and (orientation: landscape) and (min-width: 568px) and (max-width: 927px) {
    section{
        padding: 32px 6%; 
    }
    .footer{
        padding: 16px 6%;
    }

    .header{
        padding: 8px 6%; 
    }
    .navbar .menu-list{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:100%; left:0; right:0;
        padding: 16px 6%;
        background: var(--color-surface-0);
        border-top: var(--border-primary);
        border-bottom: var(--border-primary);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition:.1s linear;  
    }
    .navbar .menu-list.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    #theme-toggle:hover{
        background-color: none;
    }
    #toggle__menu{
        display: inline-flex;
    }
    .button-toggle-menu:hover{
        background-color: none;
    }
    .about .container__content{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
        row-gap: 0;
    }
    .about .container__content h3{
        margin-top: 12px;
    }
    .about .container__content p{
        margin-top: 16px;
    }
    .about .container__img{
        width: 75%;
        justify-self: end;
        align-self: start;
    }
    .projects .card-project .button-text-primary svg{
        margin-left: 4px;
    }
}
  
/* Tablet devices */
@media only screen and (orientation: portrait) and (min-width: 481px) and (max-width: 1024px){
    section{
        padding: 64px 8%; 
    }
    .footer{
        padding: 24px 8%;
    }

    .header{
        padding: 12px 8%; 
    }
    .navbar .menu-list{
        flex-direction: column;
        position: absolute;
        top:100%; left:0; right:0;
        padding: 16px 8%;
        background: var(--color-surface-0);
        border-top: var(--border-primary);
        border-bottom: var(--border-primary);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition:.1s linear;  
    }
    .navbar .menu-list.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    #theme-toggle:hover{
        background-color: none;
    }
    #toggle__menu{
        display: inline-flex;
    }
    .button-toggle-menu:hover{
        background-color: none;
    }
    .about .container__content{
        column-gap: 24px;
    }
    .skills .container__content{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 24px;
    }
    .projects .container__cards{
        column-gap: 32px;
        margin-top: 32px;
    }
}
/* Tablet devices */
@media only screen and (orientation: landscape) and (min-width: 928px) and (max-width: 1280px){
    section{
        padding: 64px 8%; 
    }
    .footer{
        padding: 24px 8%;
    }

    .header{
        padding: 12px 8%; 
    }
}
  
/* Large devices */
@media only screen and (orientation: portrait) and (min-width: 1025px) {
    section{
        padding: 96px 12%; 
    }
    .footer{
        padding: 24px 12%;
    }

    .header{
        padding: 16px 12%; 
    }
    
}

/* Large devices */
@media only screen and (orientation: landscape) and (min-width: 1281px) and (max-width: 1920px){
    .header{
        padding: 16px 24%;
    }
}

/* X-large devices */
@media only screen and (min-width: 1921px){
    section{
        padding: calc(96px + 0.5vw) 30%; 
    }
    .footer{
        padding: calc(24px + 0.5vw) 30%; 
    }
    
    .header{
        padding: calc(16px + 0.5vw) 30%;
    }
}
