.button-icon-primary{
    padding: 8px;
    stroke: var(--color-on_surface);
    stroke-width: 1;
    cursor: pointer;
}
.button-icon-primary:hover{
    padding: 8px;
    background-color: var(--color-surface-variant);
}

.button-icon-secondary{
    display: flex;
    padding: 7px;
    fill: var(--color-on_surface);
    stroke: var(--color-on_surface);
    stroke-width: 2;
    border: var(--outline-primary);
    cursor: pointer;
}
.button-icon-secondary.active:hover{
    background-color: var(--color-surface-variant);
}

.link-primary{
    padding: 12px 16px;
    color: var(--color-on_surface);
    cursor: pointer;
}
.link-primary:hover{
    background-color: var(--color-surface-variant);
}

.link-secondary{
    padding: 11px 16px;
    color: var(--color-on_surface);
    border: var(--outline-primary);
    cursor: pointer;
}
.link-secondary:hover{
    background-color: var(--color-surface-variant);
}

.button-primary{
    display: inline-block;
    padding: 8px 24px;
    border: none;
    background-color: var(--color-secondary);
    cursor: pointer;
    color: var(--color-on_secondary);
}
.button-primary:hover{
    background-color: var(--color-secondary-hover);
}

.button-cta{
    display: inline-block;
    padding: 8px 24px;
    color: var(--color-on_secondary);
    background-color: var(--color-secondary);
    cursor: pointer;
}
.button-cta:hover{
    background-color: var(--color-secondary-hover);
}

.badge{
    padding: 6px 8px;
    background-color: #65A30D;
    color: var(--color-on_secondary);
}